body {
    margin: 50px !important;
}

.glyphicon-refresh-animate {
    -animation: spin 1.2s infinite linear;
    -webkit-animation: spin2 1.2s infinite linear;
    font-size: 40px;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

.no-margin {
    margin: 0px !important;
}

.float-right {
    float: right;
}

.row {
    margin: 0px;
}

.small-bottom {
    margin-bottom: 3px !important;
}

.well {
    margin: 10px !important;
}

.time {
    font-weight: bold; 
}

.highligh {
    background-color: antiquewhite;
}

.refresh {
    font-size: 30px;
    cursor: pointer;
    top: -40px !important;
}

.highligh-green {
    background-color: lightgreen;
}

.buyload {
    font-size: 20px;
}